# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
install/
.vs/

# Mac bs
.Ds_Store

# vscode
.vscode

# lldb
*.dSYM

# test executables
proto/mcc
proto/mic2
proto/hull
proto/sim_anneal
nist/baly_test
