[submodule "firmware/spc_2040/pico-sdk"]
	path = firmware/spc_2040/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "src/PlotJuggler"]
	path = src/PlotJuggler
	url = https://github.com/facontidavide/PlotJuggler
[submodule "firmware/0_10v_rp2040/pico-sdk"]
	path = firmware/0_10v_rp2040/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
